body {
    background: #FFFFFF;
    margin: 0px;
}

.cabecalho {
    position: absolute;
    width: 360px;
    height: 52px;
    left: 0px;
    top: 0px;
    /* Gray 1 */
    background: #333333;
}

.rodape {
    position: absolute;
    width: 360px;
    height: 29px;
    left: 0px;
    top: 820px;
    background: #333333;
}

#imagem-painel {
    position: absolute;
    width: 111px;
    height: 105px;
    left: 125px;
    top: 0px;
    border-radius: 20px;
}

#titulo-painel {
    position: absolute;
    width: 297px;
    height: 30px;
    left: 31px;
    top: 95px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

#opcao1 {
    position: absolute;
    left: 16px;
    top: 149px;
}

#opcao2 {
    position: absolute;
    left: 16px;
    top: 259px;
}

#opcao3 {
    position: absolute;
    left: 16px;
    top: 369px;
}

#opcao4 {
    position: absolute;
    left: 16px;
    top: 479px;
}

#opcao5 {
    position: absolute;
    left: 16px;
    top: 589px;
}

#opcao6 {
    position: absolute;
    left: 16px;
    top: 699px;
}

#imagemop1 {
    position: absolute;
    width: 102px;
    height: 103px;
    left: 16px;
    top: 149px;
}

#imagemop2 {
    position: absolute;
    width: 109px;
    height: 102px;
    left: 236px;
    top: 259px;
}

#imagemop3 {
    position: absolute;
    width: 102px;
    height: 103px;
    left: 16px;
    top: 369px;
}

#imagemop4 {
    position: absolute;
    width: 117px;
    height: 102px;
    left: 228px;
    top: 479px;
}

#imagemop5 {
    position: absolute;
    width: 102px;
    height: 103px;
    left: 13px;
    top: 589px;
}

#imagemop6 {
    position: absolute;
    width: 102px;
    height: 102px;
    left: 243px;
    top: 699px;
    border-radius: 20px;
}

#opcao1front {
    position: absolute;
    left: 16px;
    top: 149px;
    background: rgba(0, 0, 0, 0.73);
    border-radius: 20px;
}

#opcao2front {
    position: absolute;
    left: 16px;
    top: 259px;
    background: rgba(0, 0, 0, 0.73);
    border-radius: 20px;
}

#opcao3front {
    position: absolute;
    left: 16px;
    top: 369px;
    background: rgba(0, 0, 0, 0.73);
    border-radius: 20px;
}

#opcao4front {
    position: absolute;
    left: 16px;
    top: 479px;
    background: rgba(0, 0, 0, 0.73);
    border-radius: 20px;
}

#opcao5front {
    position: absolute;
    left: 16px;
    top: 589px;
    background: rgba(0, 0, 0, 0.73);
    border-radius: 20px;
}

#opcao6front {
    position: absolute;
    left: 16px;
    top: 699px;
    bottom: 5.54%;
    background: rgba(0, 0, 0, 0.73);
    border-radius: 20px;
}

#subtitulo1 {
    position: absolute;
    width: 149px;
    height: 19px;
    left: 178px;
    top: 175px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    /* Gray 6 */
    color: #F2F2F2;
}

#subtitulo2 {
    position: absolute;
    width: 153px;
    height: 19px;
    left: 20px;
    top: 280px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #F2F2F2;
}

#subtitulo3 {
    position: absolute;
    width: 153px;
    height: 19px;
    left: 180px;
    top: 390px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #F2F2F2;
    /* Gray 6 */
}

#subtitulo4 {
    position: absolute;
    width: 153px;
    height: 52px;
    left: 28px;
    top: 490px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    /* Gray 6 */
    color: #F2F2F2;
}

#subtitulo5 {
    position: absolute;
    width: 153px;
    height: 19px;
    left: 174px;
    top: 610px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    /* Gray 6 */
    color: #F2F2F2;
}

#subtitulo6 {
    position: absolute;
    width: 172px;
    height: 52px;
    left: 26px;
    top: 705px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21.5px;
    line-height: 25px;
    text-align: center;
    /* Gray 6 */
    color: #F2F2F2;
}

#imgInfo1 {
    position: absolute;
    width: 360px;
    height: 154px;
    left: 0px;
    top: 52px;
}

#fundoInfo {
    position: absolute;
    width: 138px;
    height: 137px;
    left: 19px;
    top: 66px;
    /* Gray 1 */
    background: #333333;
    border-radius: 5px;
}

#imgInfo2 {
    position: absolute;
    width: 138px;
    height: 137px;
    left: 19px;
    top: 66px;
}

#rodape-info {
    position: absolute;
    width: 360px;
    height: 18px;
    left: 0px;
    top: 622px;
    /* Gray 1 */
    background: #333333;
}

#titulo-dadospessoais {
    position: absolute;
    width: 153px;
    height: 22px;
    left: 103px;
    top: 220px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.agrupamento-padrao {
    position: absolute;
    width: 310px;
    height: 284px;
    left: -10px;
    top: 270px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 2.5;
    list-style-type: none;
    color: #000000;
}

.rodape-objetivo {
    position: absolute;
    width: 360px;
    height: 18px;
    left: 0px;
    top: 622px;
    /* Gray 1 */
    background: #333333;
}

.fundo {
    position: absolute;
    width: 360px;
    height: 154px;
    left: 0px;
    top: 52px;
    border-radius: 0px;
}

#imgObjet1 {
    position: absolute;
    width: 219px;
    height: 154px;
    left: 70px;
    top: 52px;
    border-radius: 20px;
}

#titulo-objetivo {
    position: absolute;
    width: 102px;
    height: 22px;
    left: 129px;
    top: 223px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

#subtitulo-objetivo {
    position: absolute;
    width: 200px;
    height: 15px;
    left: 21px;
    top: 270px;
    font-family: Roboto;
    font-style: normal;
    font-weight: medium;
    font-size: 18px;
    line-height: 19px;
    color: #000000;
}

.rodape-competencias {
    top: 800px;
}

.itens-sobre {
    line-height: 1.5;
    display: list-item;
    left: 6px;
    color: #000000;
}

#imagemCompetencia1 {
    position: absolute;
    width: 360px;
    height: 163px;
    left: 0px;
    top: 51px;
}

#titulo-competencias {
    position: absolute;
    width: 133px;
    height: 26px;
    left: 113px;
    top: 225px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

#rodape-competencias {
    position: absolute;
    width: 360px;
    height: 18px;
    left: 0px;
    top: 720px;
    /* Gray 1 */
    background: #333333;
}

#texto-competencias {
    position: absolute;
    width: 300px;
    height: 96px;
    left: 31px;
    top: 273px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    text-align: justify;
    color: #000000;
}

.estilizacao-letras {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

#rodape-formacad {
    position: absolute;
    width: 360px;
    height: 18px;
    left: 0px;
    top: 622px;
    /* Gray 1 */
    background: #333333;
}

#imgFormAcad {
    position: absolute;
    width: 360px;
    height: 154px;
    left: 0px;
    top: 52px;
}

#tituloFormAcad {
    position: absolute;
    width: 217px;
    height: 22px;
    left: 68px;
    top: 221px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

#agrupamentoFormAcad {
    position: absolute;
    width: 341px;
    height: 71px;
    left: 9px;
    top: 301px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}

#conteudo1 {
    position: absolute;
    width: 311px;
    height: 71px;
    left: 19px;
    top: 293px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
}

#conteudo2 {
    position: absolute;
    width: 322px;
    height: 45px;
    left: 19px;
    top: 409px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: justify;
    color: #000000;
}

#rodapeinfoComplet {
    position: absolute;
    width: 360px;
    height: 15px;
    left: 0px;
    top: 950px;
    background: #333333;
}

#tituloInfoComplement {
    position: absolute;
    width: 301px;
    height: 24px;
    left: 40px;
    top: 231px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

#agrupamento-infoCoplement {
    position: absolute;
    width: 322px;
    left: -20px;
    top: 280px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 2.3;
    list-style-type: none;
    text-align: justify;
    color: #000000;
}

#agrupamento-FormAcad {
    position: absolute;
    width: 322px;
    left: -20px;
    top: 280px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 2.5;
    list-style-type: none;
    text-align: justify;
    color: #000000;
}

#agrupamento-Objetivos {
    position: absolute;
    width: 322px;
    left: -20px;
    top: 300px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 2.5;
    list-style-type: none;
    text-align: justify;
    color: #000000;
}

#agrupamento-Competencias {
    position: absolute;
    width: 300px;
    left: 5px;
    top: 390px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 2.3;
    /*list-style-type: none;*/
    text-align: justify;
    color: #000000;
}

.botao-padrao {
    position: absolute;
    left: 111px;
    top: 547px;
}

#botao-competencias {
    position: absolute;
    left: 111px;
    top: 645px;
}

#botao-infocomplet {
    position: absolute;
    left: 111px;
    top: 875px;
}

.logo {
    position: absolute;
    top: 0px;
    left: 130px;
}

/* Informações Complementares */